<launch>

  <arg name="open_rviz" default="true"/>
  <arg name="first_tb3"  default="robot_0"/>
  <arg name="second_tb3" default="robot_1"/>
  <!-- <arg name="third_tb3"  default="robot_2"/> -->

  <arg name="first_x_pos" default="-2.0"/>
  <arg name="first_y_pos" default=" 0.0"/>
  <arg name="first_z_pos" default=" 0.0"/>
  <arg name="first_yaw"   default=" 0.3925"/>
  <arg name="first_robot" value="$(arg first_tb3)"/>

  <arg name="second_x_pos" value=" 0.0"/>
  <arg name="second_y_pos" value="-2.0"/>
  <arg name="second_z_pos" value=" 0.0"/>
  <arg name="second_yaw"   value=" 0.3925"/>
  <arg name="second_robot" value="$(arg second_tb3)"/>

  <!-- <arg name="third_x_pos" value=" 0.5"/> -->
  <!-- <arg name="third_y_pos" value=" 1.5"/> -->
  <!-- <arg name="third_z_pos" value=" 0.0"/> -->
  <!-- <arg name="third_yaw"   value=" 0.3925"/> -->
  <!-- <arg name="third_robot" value="$(arg third_tb3)"/> -->


  <!-- Map server -->
  <!-- node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/ -->
  <node name="map_server" pkg="map_server" type="map_server" 
        args="$(find test_pkg)/map/my_map.yaml" output="screen" />


  <!-- World Model -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_world.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>  



  <!-- Robot 1 -->
  <group ns="$(arg first_robot)">

    <param name="tf_prefix" value="$(arg first_robot)"/>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model $(arg first_robot) -x $(arg first_x_pos) -y $(arg first_y_pos) -z $(arg first_z_pos) -Y $(arg first_yaw) -param robot_description" />

  </group>


  <!-- Robot 2 -->
  <group ns="$(arg second_robot)">

    <param name="tf_prefix" value="$(arg second_robot)"/>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model $(arg second_robot) -x $(arg second_x_pos) -y $(arg second_y_pos) -z $(arg second_z_pos) -Y $(arg second_yaw) -param robot_description" />
   

  </group>
  
  
  <!-- Arguments -->
  <arg name="use_sim_time" default="true" />
  <arg name="scan_topic"     default="scan"/>
  <arg name="initial_pose_x" default="-2.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>

  <!-- AMCL -->
  <node pkg="amcl" type="amcl" name="amcl">
    <param name="use_sim_time" value="$(arg use_sim_time)" />
    <param name="min_particles"             value="500"/>
    <param name="max_particles"             value="3000"/>
    <param name="kld_err"                   value="0.02"/>
    <param name="update_min_d"              value="0.20"/>
    <param name="update_min_a"              value="0.20"/>
    <param name="resample_interval"         value="1"/>
    <param name="transform_tolerance"       value="0.5"/>
    <param name="recovery_alpha_slow"       value="0.00"/>
    <param name="recovery_alpha_fast"       value="0.00"/>
    <param name="initial_pose_x"            value="$(arg initial_pose_x)"/>
    <param name="initial_pose_y"            value="$(arg initial_pose_y)"/>
    <param name="initial_pose_a"            value="$(arg initial_pose_a)"/>
    <param name="gui_publish_rate"          value="50.0"/>

    <remap from="scan"                      to="$(arg scan_topic)"/>
    <param name="laser_max_range"           value="3.5"/>
    <param name="laser_max_beams"           value="180"/>
    <param name="laser_z_hit"               value="0.5"/>
    <param name="laser_z_short"             value="0.05"/>
    <param name="laser_z_max"               value="0.05"/>
    <param name="laser_z_rand"              value="0.5"/>
    <param name="laser_sigma_hit"           value="0.2"/>
    <param name="laser_lambda_short"        value="0.1"/>
    <param name="laser_likelihood_max_dist" value="2.0"/>
    <param name="laser_model_type"          value="likelihood_field"/>

    <param name="odom_model_type"           value="diff"/>
    <param name="odom_alpha1"               value="0.1"/>
    <param name="odom_alpha2"               value="0.1"/>
    <param name="odom_alpha3"               value="0.1"/>
    <param name="odom_alpha4"               value="0.1"/>
    <param name="odom_frame_id"             value="robot_0/odom"/>
    <param name="base_frame_id"             value="robot_0/base_footprint"/>

  </node>


  <!-- AMCL 節點配置 for turtlebot1 -->
  <group ns="$(arg first_robot)">
    <node pkg="amcl" type="amcl" name="amcl" output="screen">
      <!-- AMCL 配置參數 -->
      <param name="use_sim_time" value="$(arg use_sim_time)" />
      <param name="initial_pose_x" value="-2.0" />
      <param name="initial_pose_y" value="0.0" />
      <param name="initial_pose_a" value="0.0" />
      
      <!-- Remap topics -->
      <remap from="scan" to="$(arg first_robot)/$(arg scan_topic)" />
    </node>
  </group>
  
  
  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find turtlebot3_navigation)/rviz/turtlebot3_navigation.rviz"/>
  </group>
  
</launch>


